{% extends 'main.html' %}

{% block title %}  <title>ბავშვი და ძილი</title> {% endblock %}

{% block content %}



<img src="https://thumbs.dreamstime.com/b/set-children-doing-speech-therapy-teachers-child-development-center-kids-alphabet-letters-play-set-children-108774522.jpg" >


<div>
<h5> ადრეული ბავშვობა კრიტიკულად მნიშვნელოვანი
პერიოდია ადამიანის ცხოვრებაში. დაბადებიდან ექვს
წლამდე ასაკი საოცრად სწრაფი და უნიკალური ზრდის
ხანაა, სწორედ ამ დროს ვითარდება თავის ტვინი ყველაზე
სწრაფად და ინტენსიურად, რაც საფუძვლად ედება
ადამიანის შემდგომ ცხოვრებას.
ადრეულ ასაკში განსაკუთრებით მნიშვნელოვანია
თითოეული ბავშვის პოზიტიური მხარდაჭერა და მათთვის
მრავალფეროვანი გამოცდილების შეთავაზება. ადრეულ
ასაკში ბავშვის ქცევის, სწავლისა და განვითარების
ძირითადი ფორმა თამაშია. თამაში ბავშვისთვის სამყაროს
შემეცნების, თვითგამოხატვისა და ურთიერთობის
საშუალებაა. ეს პროცესი მისთვის ბუნებრიობის,
უსაფრთხოების, კმაყოფილებისა და სიამოვნების
შეგრძნების წყაროა. ბავშვი აქტიურად სწავლობს კეთებით.
ის სწავლობს გარემოს აღმოჩენით, პროცესში აქტიურად
ჩართვით, მუდმივი ცდისა და ექსპერიმენტების გზით.
ამიტომაც ბავშვისთვის მნიშვნელოვანია, თავად დაუშვას
შეცდომები, მოსინჯოს სხვადასხვა იდეები, გამოსცადოს
საკუთარი შესაძლებლობები. მისთვის უპირატესია არა მზა
ცოდნისა და მზა ინფორმაციის მიღება, არამედ სამყაროს
საკუთარი გამოცდილებით შემეცნება.
ბავშვის განვითარება რთული და მრავალმხრივი
პროცესია. პირობითად დაყოფილი განვითარების
სფეროები გვეხმარება განვითარების ყველა ასპექტს
თანაბარი ყურადღება დავუთმოთ. მოცემულ ბროშურაში
გთავაზობთ ერთმანეთთან მჭიდროდ დაკავშირებული
განვითარების ხუთი სფეროს მოკლე აღწერას: (1) ფიზიკური
განვითარება, 2 დამოუკიდებლობის განვითარება, (3)
მეტყველების განვითარება, 4 შემეცნებითი განვითარება
და 5 სოციალურ-ემოციური განვითარება. </h5></div>


{% endblock %}