{% extends 'main.html' %}

{% block title %}  <title>kid and slip</title> {% endblock %}

{% block content %}



<img src="https://st2.depositphotos.com/1967477/12103/v/450/depositphotos_121032340-stock-illustration-baby-sleeping-on-the-cloud.jpg" >


<div>
<h5> სწორი ძილი მნიშვნელოვანია თითოეული ჩვენგანისთვის, ვინაიდან ცხოვრების ერთ მესამედს სწორედ ძილში ვატარებთ.

ძილის ხანგრძლივობა ყველა ასაკში ინდივიდუალურია:

➢ 0 თვიდან 3 თვემდე 14-17 საათი

➢ 4 თვიდან 11 თვემდე 12-15 საათი

➢ 1 წლიდან 2 წლამდე 11-14 საათი

➢ 3 წლიდან 5 წლამდე 10-13 საათი

➢ 6 წლიდან 13 წლამდე 9-11 საათი

➢ 14 წლიდან 17 წლამდე 8-10 საათი

➢ 18 წლიდან 25 წლამდე 7-9 საათი

თუმცა მეტად საყურადღებოა ძილის ხანგრძლივობა ბავშვებში </h5></div>


{% endblock %}