<style>
  .home-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  }
.genres{
margin: 100px 30px;
color: black;

}
    .row {
      display: flex;
      flex-direction: row;
    }

    .card {
    margin-bottom: 33px;

    }


</style>

<div class="home-container">

<div class="genres">
  <h1>ფილტრი</h1>
  <br>
  <a style="color: black"; href="{{ request.path }}"> ALl ({{ genres.count }}) </a>
  {% for genre in genres %}
  <hr>
  <a style="color: black"; href="{{ request.path }}?q={{ genre.name }}">{{genre}} ({{ genres.count }})</a>
  {% endfor %}


</div>
<div>


<div>
<h5> {{ heading }} </h5></div>
    <br>
    <br>

    <a href="{% url 'add' %}"> წიგნის დამატება </a>
    <br>
    <br>


<div style ="display:flex" class="row">
{% for certif in certifs %}

<div class="card" style="width: 18rem; margin-left:30px">
  <div style="width: 180px; height:210px; margin-left:30px; margin-top:20px" ><img src="{{ certif.picture.url}}" class="card-img-top" alt="..."></div>
  <div class="card-body">
    <h5 class="card-title">{{certif.name}}</h5>
    <p class="card-text">{{certif.description | slice:":20"}}   <br>{{ certif.created }}</p>

    {% if request.user.is_authenticated %}

     <a href="{% url 'reading' certif.id %}" class="btn btn-primary">Read</a>

    {% if certif in request.user.books.all %}
     <a href="{% url 'delete' certif.id %}" class="btn btn-primary">Drop</a>
    {% else  %}
     <a href="{% url 'adding' certif.id %}" class="btn btn-primary">Add</a>
     {% endif %}
      {% if request.user == certif.creator %}
      <a href="{% url 'delete_certif' certif.id %}" class="btn btn-primary">Delete</a>
      {% endif %}
   {% endif %}

  </div>
</div>
{% endfor %}
</div>

</div>

</div>