{% extends 'main.html' %}

{% block title %} <title> Login Page </title> {% endblock %}


{% block content %}


 <style>
        .center{
            height: 100%;
            margin: 0;
            margin-top:5%;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        .signup-container {
            background-color:#cee7fa ;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 100%;
            max-width: 400px;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .form-group input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            padding: 10px;
        }

        .form-group input[type="submit"]:hover {
            background-color: #f3ce2d;
        }

        p {
            text-align: center;
            margin-top: 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

<div class ="center">
     <div class="signup-container">
<!--    <h1> Login Page </h1>-->
            <div>
                <form method="POST" action="">
                    <br>
                    <br>
                    {% csrf_token %}
                    <div class="form-group">
                    <label>
                        სახელი:
                    </label>
                    <input type ="text" name="username" placeholder="შეიყვანეთ სახელი">
                    </div>
                    <br>

                    <div class="form-group">
                    <label>
                        პაროლი:
                    </label>
                    <input type ="password" name="password" placeholder="შეიყვანეთ პაროლი">
                    </div>
                    <br>
                    <div class="form-group">
                    <input type ="submit" value="შესვლა">
                    </div>

                    <br>
                     <p> არ ხართ დარეგისტრირებული ? </p>
                     <a href="{% url 'register' %}"> რეგისტრაცია </a>

                </form>
            </div>
         </div>
</div>

{% endblock %}

