{% extends 'main.html' %}

{% block title %} <title> Login Page </title> {% endblock %}


{% block content %}

<style>
    .logindiv{
    width: 400px;
            height: 450px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 20px;
            margin: 50px auto 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow properties */

    }



</style>

<div class ="logindiv">
<h1> Login Page </h1>
            <div>
                <form method="POST" action="">
                    <br>
                    <br>
                    {% csrf_token %}
                    <label>
                        Username:
                    </label>
                    <input type ="text" name="username" placeholder="Enter User">
                    <br>
                    <br>

                    <label>
                        Password:
                    </label>
                    <input type ="password" name="password" placeholder="Enter Password">
                    <input type ="submit" value="login">

                    <br>
                    <br>
                     <p> არ ხართ დარეგისტრირებული ? </p>
                     <a href="{% url 'register' %}"> რეგისტრაცია </a>

                </form>
            </div>
</div>

{% endblock %}

