{% extends 'main.html' %}

{% block title %}  <title> Reading Page </title> {% endblock %}

{% block content %}

<h1> {{ certif.name }} </h1>
<h2> {{ certif.who }} </h2>
<h3>
{% for genre in certif.genre.all %}

    {{ genre }}

{% endfor %}

</h3>
<p> {{ certif.description }} </p>

{% load static %}
<br>
<embed src="{% static certif.file.url %}" width="80%" height="500px" scrolling ="auto"/>

 <br>
<div stule="margin-left: 30px;">
    <h2> Comments:</h2>
    <form method ="POST" action="">
        {% csrf_token %}
        <input name="body" placeholder="Type Message..." >

    </form>
    <br>
    {% for comment in comments %}
    <div>
        <a href="{% url 'profile' comment.user.id %}">
        <img src="{{ comment.user.avatar.url }}" width="50px" height="50px" style="border-radius: 50%">
        <span>@{{ comment.user.username }}</span>
        </a>
        <span>{{ comment.created | timesince}} ago</span>
    </div>
    <div style="margin-left: 70px;">
        <p>{{ comment.body }}</p>
        {% if request.user == comment.user %}
        <a href="{% url 'delete_comment' comment.id %}" > Delete </a>
        {% endif %}
    </div>
    {% endfor %}


</div>
{% endblock %}